target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/target/
target/
poc-config-service/target/
poc-discovery-service/target/
poc-gateway-service/target/
poc-auth-service/target/
poc-common-util/target/
poc-domain-model/target/
poc-product-service/target/
poc-order-service/target/
poc-promtion-service/target/
poc-payment-service/target/
poc-customer-service/target/
poc-job/target/
logs/
/logs/

poc-config-service/logs/
poc-discovery-service/logs/
poc-gateway-service/logs/
poc-auth-service/logs/
poc-common-util/logs/
poc-domain-model/logs/
poc-product-service/logs/
poc-order-service/logs/
poc-promtion-service/logs/
poc-payment-service/logs/
poc-customer-service/logs/
poc-job/logs/
deploy/
conf/
rebel.xml
.rebel.xml.bak
.conf/
