<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.mapper.ProducspuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.domain.product.Producspu" id="producspuMap">
        <result property="id" column="id"/>
        <result property="spuNo" column="spu_no"/>
        <result property="goodsName" column="goods_name"/>
        <result property="lowPrice" column="low_price"/>
        <result property="categoryId" column="category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="spuDesc" column="spu_desc"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>