<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.order.mapper.OrderLogisticsFlowMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.domain.order.OrderLogisticsFlow" id="orderLogisticsFlowMap">
        <result property="id" column="id"/>
        <result property="orderNo" column="order_no"/>
        <result property="logisticsNo" column="logistics_no"/>
        <result property="mailNo" column="mail_no"/>
        <result property="curAddress" column="cur_address"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>