<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.mapper.ProducspecMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.domain.product.Producspec" id="producspecMap">
        <result property="id" column="id"/>
        <result property="specNo" column="spec_no"/>
        <result property="specName" column="spec_name"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>