<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.mapper.ProducskuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.domain.product.Producsku" id="producskuMap">
        <result property="id" column="id"/>
        <result property="skuNo" column="sku_no"/>
        <result property="skuName" column="sku_name"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="shopId" column="shop_id"/>
        <result property="spuId" column="spu_id"/>
        <result property="version" column="version"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>